PORT=4000
DRUNIX_GATEWAY_MODE=mock
DRUNIX_CHANNEL_NAME=ecofi-channel
DRUNIX_CONTRACT_NAME=ecofi-contract
DRUNIX_CONNECTION_PROFILE=./crypto/connection-org1.json
DRUNIX_IDENTITY_MSPID=Org1MSP
DRUNIX_IDENTITY_PATH=./crypto/users/appUser.id
DRUNIX_TLS_CERT_PATH=./crypto/peers/org1/tls/ca.crt
DRUNIX_PEER_ENDPOINT=localhost:7051
